/* External css */
div {
    text-align: center;
    color: rgb(20, 20, 20);
    background-color: rgb(209, 237, 71);
    border: 5px solid rgb(red, green, blue);
    padding: 100px;

}

p {
    font-size: smaller;
    font-style: italic;
}

button {
    color: black;
    background-color: aliceblue;
    font-size: 11px;
    /* border: none; */
    border-radius: 10px;
    /* boder curv krnya sathi  */
    padding: 10px 20px;
}